body {
font-family: 'Bitter', serif;
background-color: black;
}
            
   

.jumbotron {
    background-color:#140F50;
    color: white;
    margin: 10px;
}

.center {
     display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}