body {
font-family: 'Bitter', serif;
background-color: black;
color: white;
}
            
   
.jumbotron {
    background-color:#140F50;
    color: white;
    margin: 10px;
}

.center {
     display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.table {
    background-color: #140F50;
    color: white;
}

.trainSchedule{
    color: white;
}

.form-group {
    background: #140F50;
}

.btn {
    background: #140F50;
    color: white;
}

#wrapper {
    width: 1100px;
    margin: 0 auto;
}

#wrap {
    width: 1100px;
    margin: 0 auto
}

/* Blinking text */

.blink_text {

    animation:1s blinker linear infinite;
    -webkit-animation:1s blinker linear infinite;
    -moz-animation:1s blinker linear infinite;

     color: yellow;
     font-size: 35px;
    }

    @-moz-keyframes blinker {  
     0% { opacity: 1.0; }
     50% { opacity: 0.0; }
     100% { opacity: 1.0; }
     }

    @-webkit-keyframes blinker {  
     0% { opacity: 1.0; }
     50% { opacity: 0.0; }
     100% { opacity: 1.0; }
     }

    @keyframes blinker {  
     0% { opacity: 1.0; }
     50% { opacity: 0.0; }
     100% { opacity: 1.0; }
     }

.jawbone{
    position: fixed;
    bottom: 0;
    right: 0;
    width: 300px;
    
}

h1 {
  text-align: center;  
}

/* Responsive Media */
@media only screen and (max-width: 980px) {
  body {
    background-color: blue;
  } 
}
@media only screen and (max-width: 768px) {
  body {
    background-color: yellow;
 }
}
@media only screen and (max-width: 640px) {
  body {
    background-color: red;

  }
header {
  position: static;
}
}

